---
import SectionLayout from "../../layouts/SectionLayout.astro";
import { getContactUs } from "../../data/api";
import { urlFor } from "../../utils/image";
import { PortableText } from "astro-portabletext";
import AboutLayout from "../../layouts/AboutLayout.astro";
const contact = await getContactUs();
---
<AboutLayout
pageTitle={contact.title}
currentIndex={0}
>  
<SectionLayout
  backGround="var(--yellow)"
  textColor="var(--black)"
  className="contact-us"
>
  <div class="title">
    <h1>{contact.title}</h1>
  </div>
  <div class="banner">
    <div class="list-contact">
      {
        contact.content.map((entry) => (
            <p> {entry.sectionTitle} </p>
            <PortableText value={entry.value} class="caption" />
        ))
      }
    </div>
  </div>
</SectionLayout>
</AboutLayout>
<style lang="scss">
  .list-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
</style>
