@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  to {
    left: 0%;
  }
}

@keyframes slideOut {
  to {
    left: 100%;
  }
}

@keyframes slideHalf {
  to {
    left: 70%;
  }
}

@keyframes red {
  to {
    background-color: red;
  }
}