@font-face {
  font-family: 'founders_groteskregular';
  src        : url('fonts/foundersgrotesk-regular-webfont.woff2') format('woff2'),
    url('fonts/foundersgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

@font-face {
  font-family: 'founders_groteskRgIt';
  src        : url('fonts/foundersgrotesk-regularitalic-webfont.woff2') format('woff2'),
    url('fonts/foundersgrotesk-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;

}

* {
  font-family: 'founders_groteskregular', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin     : 0;
  padding    : 0;
  font-weight: 400;
}

a,
p,
// li,
input,
select,
textarea {
  overflow-wrap: break-word;

  /* 1920/Body */
  font-size     : 30px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 125%;
  /* 37.5px */
  letter-spacing: 0.3px;

  @media screen and (max-width: 1024px) {
    /* 1024/Body */
    font-size     : 20px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 25px */
    letter-spacing: 0.2px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Body */
    font-size     : 18px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 22.5px */
    letter-spacing: 0.18px;
  }

}

a,
a:visited,
a:active {
  color          : inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

b,
strong {
  font-family: "Founders Grotesk Medium", Arial, sans-serif;
  font-weight: bold;
}

i,
em {
  font-family: 'founders_groteskRgIt';
  font-weight: normal;
}

h1 {
  /* 1920/H1 */
  font-size     : 220px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 85%;
  /* 187px */
  letter-spacing: -5.5px;

  @media screen and (max-width: 1024px) {
    /* 1024/H1 */
    font-size     : 120px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 85%;
    /* 102px */
    letter-spacing: -3px;
  }

  @media screen and (max-width: 768px) {
    /* 768/H1 */
    font-size     : 90px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 85%;
    /* 76.5px */
    letter-spacing: -1.8px;
  }

  @media screen and (max-width: 390px) {
    /* Mobile/H1 */
    font-size     : 50px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 90%;
    /* 45px */
    letter-spacing: -0.5px;
  }
}

h2 {
  /* 1920/H2 */
  font-size  : 110px;
  font-style : normal;
  font-weight: 400;
  line-height: 105%;
  /* 115.5px */

  @media screen and (max-width: 1024px) {
    /* 1024/H2 */
    font-size  : 60px;
    font-style : normal;
    font-weight: 400;
    line-height: 110%;
    /* 66px */
  }

  @media screen and (max-width: 768px) {
    /* Mobile/H2 */
    font-size  : 32px;
    font-style : normal;
    font-weight: 400;
    line-height: 105%;
    /* 33.6px */
  }
}

h4 {
  /* 1920/H4 */
  font-size  : 48px;
  font-style : normal;
  font-weight: 400;
  line-height: 105%;
  /* 50.4px */

  @media screen and (max-width: 1024px) {
    /* 1024/H4 */
    font-size  : 28px;
    font-style : normal;
    font-weight: 400;
    line-height: 105%;
    /* 29.4px */
  }

  @media screen and (max-width: 768px) {
    /* Mobile/H4 */
    font-size  : 24px;
    font-style : normal;
    font-weight: 400;
    line-height: 105%;
    /* 25.2px */
  }
}

h6 {
  /* 1920/H6 */
  font-family   : Founders Grotesk;
  font-size     : 30px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 115%;
  /* 34.5px */
  letter-spacing: 0.3px;

  @media screen and (max-width: 1024px) {
    /* 1024/H6 */
    font-size     : 20px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 115%;
    /* 23px */
    letter-spacing: 0.2px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/H6 */
    font-size  : 18px;
    font-style : normal;
    font-weight: 400;
    line-height: 110%;
    /* 19.8px */
  }
}

.caption {
  /* 1920/Caption */
  font-size     : 22px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 125%;
  /* 27.5px */
  letter-spacing: 0.3px;

  @media screen and (max-width: 1024px) {
    /* 1024/Caption */
    font-size     : 16px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 20px */
    letter-spacing: 0.16px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Caption */
    font-size     : 15px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 18.75px */
    letter-spacing: 0.15px;
  }
}

.small-caption {
  /* 1920/Small Caption */
  font-size     : 17px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 115%;
  /* 19.55px */
  letter-spacing: 0.34px;

  @media screen and (max-width: 1024px) {
    /* 1024/Small Caption */
    font-size     : 14px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 17.5px */
    letter-spacing: 0.28px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Small Caption */
    font-size     : 14px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 125%;
    /* 17.5px */
    letter-spacing: 0.21px;
  }

}