@font-face {
  font-family: 'founders_groteskregular';
  src: url('/fonts/foundersgrotesk-regular-webfont.woff2') format('woff2'),
    url('fonts/foundersgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'founders_groteskRgIt';
  src: url('/fonts/foundersgrotesk-regularitalic-webfont.woff2') format('woff2'),
    url('fonts/foundersgrotesk-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'founders_groteskregular', Helvetica, sans-serif;
  &::selection {
    color: whitesmoke;
    background-color: rgb(22, 22, 22);
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a,
p,
li,
input,
select,
textarea {
  overflow-wrap: break-word;
  font-family:   'founders_groteskregular', Helvetica, sans-serif;
  /* 1920/Body */
  font-size: 27px;
  font-weight: 400;
  line-height: 120%;
  word-spacing: .05em;
  /* 37.5px */
  letter-spacing: 0.65px;

  @media screen and (max-width: 1024px) {
    /* 1024/Body */
    font-size: 20px;

    /* 25px */
    letter-spacing: 0.3px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Body */
    font-size: 18px;

    /* 22.5px */
    letter-spacing: 0.27px;
  }

}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-family: "Founders Grotesk Medium", Arial, sans-serif;
  font-weight: bold;
}

i,
em {
  font-family: 'founders_groteskRgIt';
  font-weight: normal;
}

h1 {
  /* 1920/H1 */
  font-size: var(--h1-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
  /* 187px */
  letter-spacing: -5.5px;

  @media screen and (max-width: 1024px) {
    /* 1024/H1 */

    /* 102px */
    letter-spacing: -3px;
  }

  @media screen and (max-width: 768px) {
    /* 768/H1 */

    /* 76.5px */
    letter-spacing: -1.8px;
  }

  @media screen and (max-width: 390px) {
    /* Mobile/H1 */
    line-height: 90%;
    /* 45px */
    letter-spacing: -0.5px;
  }
}

h2 {
  /* 1920/H2 */
  font-size: var(--h2-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  letter-spacing: -0.01em;
}

h4 {
  /* 1920/H4 */
  font-size: var(--h4-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  word-spacing: -0.02em;
}

h6 {
  /* 1920/H6 */
  font-family: Founders Grotesk;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  /* 34.5px */
  letter-spacing: 0.3px;

  @media screen and (max-width: 1024px) {
    /* 1024/H6 */
    font-size: 20px;
    line-height: 110%;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/H6 */
    font-size: 18px;

  }
}

.caption {
  /* 1920/Caption */
  font-size: var(--caption-font-size);
  font-style: normal;
  font-weight: 400;
  /* 27.5px */
  letter-spacing: 0.3px;

  @media screen and (max-width: 1024px) {
    /* 1024/Caption */
    /* 20px */
    letter-spacing: 0.16px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Caption */
    /* 18.75px */
    letter-spacing: 0.15px;
  }
}

.small-caption {
  /* 1920/Small Caption */
  font-size: var(--small-cap-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  /* 19.55px */
  letter-spacing: 0.55px;

  @media screen and (max-width: 1024px) {
    /* 1024/Small Caption */
    line-height: 125%;
    /* 17.5px */
    letter-spacing: 0.6px;
  }

  @media screen and (max-width: 768px) {
    /* Mobile/Small Caption */
    line-height: 125%;
    /* 17.5px */
    letter-spacing: 0.65px;
  }

}

.body-copy>*>a {
  border-bottom: 0.075em solid var(--black) !important;
  line-height: 0.9;
  display: inline-block;
  transition: transform 100ms var(--ease);
  &:hover {
    transform: translateY(-3px);
  }
}

.gray-out {
  color: var(--darkGray);
}

.event-type {
  text-transform: capitalize;
}