:root {
  --black: #000;
  --white: #fff;
  --darkGray: #9a9a9a;
  --gray: #d9d9d9;
  --lightGray: #f0f0f0;
  --orange: #ff6105;
  --green: #005454;
  --maroon: #8d191c;
  --purple: #b8c4f0;
  --yellow: #fff200;
  --mint: #bbe2da;
  --peach: #ffd0b4;
}
