---
import Layout from "../../layouts/Layout.astro";
import SideTab from "../../components/SideTab.astro";
import CurrentPrograms from "../../components/sections/current-upcoming.astro";
import PastPrograms from "../../components/sections/past.astro";
---

<Layout title="Programs">
  <div data-top>
    <SideTab
      text="Programs"
      href="/programs"
      style="department"
      classes="is-major"
    />
    <article class="wrapper">
      <div class="left-col">
        <CurrentPrograms />
      </div>
      <div class="right-col">
        <PastPrograms />
      </div>
    </article>
  </div>
</Layout>

<style lang="scss" is:global>
  body {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  [data-top] {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    // overflow-y: hidden !important;

    .wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: fit-content;
      overflow-y: hidden !important;

      .left-col,
      .right-col {
        cursor: pointer;
        flex: 1;
        width: 100%;
        display: flex;
        transition: transform 200ms;
      }
      .left-col:hover + .right-col {
        transform: translateX(10px);
      }
      .right-col {
        position: absolute;
        top: 0;
        left: 65%;
        height: fit-content;
        box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.1);
        z-index: 9;
        &:hover {
          transform: translateX(-10px);
        }
      }
    }
  }
</style>
<script async>
const currentSec = document.querySelector(".left-col");
const pastSec = document.querySelector(".right-col");
currentSec.addEventListener("click", () => {
  location.assign("/programs/current-upcoming");
});
pastSec.addEventListener("click", () => {
  location.assign("/programs/past");
});
</script>
