---
import Layout from "../../layouts/Layout.astro";
import SideTab from "../../components/SideTab.astro";
import CurrentPrograms from "../../components/sections/CurrentPrograms.astro";
import PastPrograms from "../../components/sections/PastPrograms.astro";
---

<Layout title="Programs">
  <div data-top>
    <article data-wrapper>
      <SideTab text="Programs" href="/programs/" style="department" />
      <SideTab
        text="Current and Upcoming"
        style="subpage"
        shadow="left"
        classes="current-tab"
      />
      <div class="overlay">
        <CurrentPrograms />
        <PastPrograms />
      </div>
      <SideTab
        text="Past seasons"
        style="subpage"
        shadow="right"
        classes="past-tab"
      />
    </article>
  </div>
</Layout>

<style type="scss" is:global>

  [data-wrapper] {
    display: flex;
    flex-direction: row;
    position: sticky;

    .subpage {
      cursor: pointer;
      position: sticky;
    }
  }

  .overlay {
    display: flex;
    position: relative;
    width: 100%;
    overflow-x: hidden;

    .current,
    .past {
      position: absolute;
      height: fit-content;
      overflow-y:hidden;
    }
    .past {
      box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.1);
      left: 66%;
    }
  }
</style>

<script async>
const currentContainer = document.querySelector("main.current");
const pastContainer = document.querySelector("main.past");
const currentTab = document.querySelector(".current-tab");
const pastTab = document.querySelector(".past-tab");

window.addEventListener("load", () => {
  const maxHeight = Math.max(
    currentContainer.clientHeight,
    pastContainer.clientHeight
  );
  document.querySelector(".overlay").style.height = maxHeight + "px";
  document.querySelector("[data-top]").style.height = maxHeight + "px";
  document.querySelector("[data-wrapper]").style.height = maxHeight + "px";
  currentContainer.style.height = maxHeight + "px";
  pastContainer.style.height = maxHeight + "px";
});

function initialPosition() {
  pastContainer.style.left = "66%";
  pastTab.style.display = "none";
  currentTab.style.visibility = "hidden";
}

function pastOver() {
  pastContainer.style.animation = "slideIn 0.4s linear forwards";
  currentContainer.style.animation = "fadeOut 0.4s var(--ease) forwards";

  currentTab.style.animation = "fadeIn 0.8s var(--ease) forwards";
  currentTab.style.visibility = "visible";

  pastTab.style.visibility = "hidden";
}

function currentOver() {
  pastContainer.style.animation = "slideOut 0.4s linear forwards";
  pastContainer.style.boxShadow = "none";

  currentContainer.style.animation = "fadeIn 0.8s var(--ease) forwards";
  pastTab.style.animation = "fadeIn 0.8s var(--ease) forwards";
  pastTab.style.visibility = "visible";
  pastTab.style.display = "flex"

  currentTab.style.visibility = "hidden";
}

initialPosition();
pastContainer.addEventListener("mouseenter", pastOver);
currentContainer.addEventListener("mouseenter", currentOver);
currentTab.addEventListener("click", currentOver);
pastTab.addEventListener("click", pastOver);
</script>
