---
import Layout from "../../layouts/Layout.astro";
import SideTab from "../../components/SideTab.astro";
import CurrentPrograms from "../../components/sections/CurrentPrograms.astro";
import PastPrograms from "../../components/sections/PastPrograms.astro";
---

<Layout title="Programs">
  <div data-top>
    <SideTab
      text="Programs"
      href="/programs"
      style="department"
      classes="is-major"
    />
    <SideTab
      text="Current and Upcoming"
      style="subpage"
      shadow="none"
      classes="current-tab"
    />
    <article class="wrapper">
      <div class="left-col">
        <CurrentPrograms />
      </div>
      <div class="right-col">
        <PastPrograms />
      </div>
    </article>
    <SideTab
      text="Past seasons"
      style="subpage"
      shadow="right"
      classes="past-tab"
    />
  </div>
</Layout>

<style lang="scss" is:global>
  body {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  [data-top] {
    position: relative;
    display: flex;
    flex-grow: 1;

    .hidden {
      visibility: hidden;
    }

    .department,
    .subpage {
      flex-shrink: 0;
      position: sticky;
      top: 44px;
      cursor: pointer;
      z-index: 10;
    }
    .subpage {
      visibility: hidden;
      background-color: var(--white);
    }
    .is-shown {
      visibility: visible;
      animation: fadeIn 0.4s linear forwards;
    }

    .wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      min-height: fit-content;

      .left-col,
      .right-col {
        flex: 1;
        width: 100%;
        display: flex;
      }

      .right-col {
        position: absolute;
        top: 0;
        left: 50%;
        height: fit-content;
        box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.1);
        z-index: 9;
      }
    }
    .past {
      flex-grow: 1;
      overflow: auto;
    }
  }
</style>

<script async>
const currentTab = document.querySelector(".current-tab");
const pastTab = document.querySelector(".past-tab");
const wrapper = document.querySelector(".wrapper");
const leftCol = document.querySelector(".left-col");
const rightCol = document.querySelector(".right-col");
const department = document.querySelector(".department");

function updateWrapperHeight() {
  const maxHeight = Math.max(leftCol.offsetHeight, rightCol.offsetHeight);
  wrapper.style.height = `${maxHeight}px`;
}

function handleAnimationEnd(displayElement, hideElement) {
  return () => {
    // hideElement.style.boxShadow = "none";
    // displayElement.style.display = "flex";
    // hideElement.classList.add("hidden");
    // displayElement.classList.remove("hidden");
    updateWrapperHeight();
  };
}

function showLeft() {
  // leftCol.querySelector(".current").style.display = "flex";
  window.removeEventListener("scroll", showLeft);
  window.scroll(0, 0);
  leftCol.querySelector(".current").classList.remove("hidden");
  rightCol.style.animation = "slideOut 0.4s linear forwards";
  pastTab.classList.add("is-shown");
  currentTab.classList.remove("is-shown");
  currentTab.style.zIndex = 0;
  department.classList.remove("is-major");
  window.history.pushState({}, "", "#current-upcoming");

  rightCol.addEventListener(
    "animationend",
    handleAnimationEnd(
      leftCol.querySelector(".current"),
      rightCol.querySelector(".past")
    ),
    { once: true }
  );

  pastTab.addEventListener("click", showRight);

  setTimeout(() => {
    window.addEventListener("scroll", showLeft);
  }, "1200");
}

function showRight() {
  window.removeEventListener("scroll", showLeft);
  window.scroll(0, 0);
  // rightCol.querySelector(".past").style.display = "flex";
  rightCol.querySelector(".past").classList.remove("hidden");
  rightCol.style.animation = "slideIn 0.4s linear forwards";
  currentTab.classList.add("is-shown");
  pastTab.classList.remove("is-shown");
  department.classList.remove("is-major");
  window.history.pushState({}, "", "#past-season");

  rightCol.addEventListener(
    "animationend",
    handleAnimationEnd(
      rightCol.querySelector(".past"),
      leftCol.querySelector(".current")
    ),
    { once: true }
  );

  currentTab.addEventListener("click", showLeft);
}

//back function WIP!!!
department.querySelector("a").addEventListener("click", function (e) {
  e.preventDefault();
});

function backToProgram() {
  window.removeEventListener("scroll", showLeft);
  window.scroll(0, 0);

  rightCol.style.animation = "slideHalf 0.4s linear forwards";

  leftCol.querySelector(".current").classList.remove("hidden");
  rightCol.querySelector(".past").classList.remove("hidden");
  updateWrapperHeight();

  currentTab.classList.remove("is-shown");
  pastTab.classList.remove("is-shown");
  department.classList.add("is-major");

  setTimeout(() => {
    window.addEventListener("scroll", showLeft);
  }, "1200");

  window.history.pushState({}, "", "/programs");
}

// Event listeners
leftCol.addEventListener("click", showLeft);
rightCol.addEventListener("click", showRight);
window.addEventListener("scroll", showLeft);
department.addEventListener("click", backToProgram);
</script>
