---
import { getMedia } from "../../../data/api";
import { urlFor } from "../../../utils/image";
import Tag from "../../../components/Tag.astro";
import SideTab from "../../../components/SideTab.astro";
import SectionLayoutRight from "../../../layouts/SectionLayoutRight.astro";
import SectionLayout from "../../../layouts/SectionLayout.astro";
import MediaCard from "../../../components/MediaCard.astro";
import BasicLayout from "../../../layouts/Layout.astro";
const medias = await getMedia();
---

<BasicLayout title="Media Library">
  <div data-top>
    <SideTab text="Archive" href="/archive" style="department" />

    <SectionLayout
      backGround="var(--gray)"
      className={["media-library", "hello"]}
    >
      <div class="title">
        <h2>Media Library</h2>
      </div>
      <div class="filters caption">
        <ul>
          <li>Filter by</li>
          <li>
            <ul>
              <li>All</li>
              <li>Video</li>
              <li>Audio</li>
            </ul>
          </li>
        </ul>
        <!-- TODO: Map out all years from the media cards -->
        <ul>
          <li>From the year of</li>
          <li>
            <ul>
              <li>All</li>
              <li>2023</li>
              <li>2022</li>
            </ul>
          </li>
        </ul>
        <!-- TODO: Map out all tags from Programs -->
        <ul>
          <li>Filter by Tags</li>
          <li>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </li>
        </ul>
      </div>

      <ul class="media-list">
        {
          medias.map((media) => (
            <li class="media-list-item">
              <MediaCard media={media} />
            </li>
          ))
        }
      </ul>
    </SectionLayout>
    <SideTab
      text="Artist Directory"
      style="subpage"
      href="/archive/artists"
      shadow="right"
      classes="artists-tab"
    />
  </div>
</BasicLayout>

<style lang="scss">
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .filters,
  .filters > *,
  .filters > * > *,
  .filters > * > * > *,
  .filters > * > * > * > * {
    display: flex;
    gap: 1rem;
    color: var(--darkGray);
    font-size: var(--caption-font-size);
    cursor: pointer;
  }
  .filters {
    justify-content: space-between;
  }
  .filters > * {
    flex-direction: column;
  }
  .title,
  section {
    max-width: 1080px;

    @media screen and (max-width: 64rem) {
      max-width: 40rem;
    }
    @media screen and (max-width: 48rem) {
      max-width: 30rem;
    }
  }
  .media-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--l-margin);

    @media screen and (max-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
