---
import { getMedia } from "../../data/api";
import { urlFor } from "../../utils/image";
import Tag from "../Tag.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import MediaCard from "../MediaCard.astro";

const medias = await getMedia();
---

<SectionLayout backGround="var(--gray)" className="media-library">
  <div class="title">
    <h2>Media Library</h2>
  </div>

  <ul class="list">
    {
      medias.map((media) => (
        <li class="media-list-item">
          <MediaCard media={media} />
        </li>
      ))
    }
  </ul>
</SectionLayout>

<style lang="scss">
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .title,
  section {
    max-width: 1080px;

    @media screen and (max-width: 64rem) {
      max-width: 40rem;
    }
    @media screen and (max-width: 48rem) {
      max-width: 30rem;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 80px), 1fr));
    column-gap: 80px;
    row-gap: 80px;

    @media screen and (max-width: 64rem) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
    }

    @media screen and (max-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
    }
  }
</style>
