---
import Layout from "../layouts/Layout.astro";
import AboutSec from "../components/sections/AboutSec.astro";
import SideTab from "../components/SideTab.astro";
---

<Layout title="About">
  <div data-top>
    <article data-wrapper>
      <SideTab text="About" href="#" style="department" />
      <AboutSec />
    </article>
  </div>
</Layout>
<style type="scss">
  [data-wrapper] {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    position: sticky;
    top: 45px;
    left: 0;

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      white-space: nowrap;
      position: relative;
      width: 100%;

      .list-item {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: 100%;
        box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: flex-end;
        padding: 40px;
      }
    }
  }

</style>

<script async></script>
