---
import Layout from "../layouts/Layout.astro";
import SideTab from "../components/SideTab.astro";
import Funder from "../components/sections/Funder.astro";
import People from "../components/sections/People.astro";
import AboutSec from "../components/sections/AboutSec.astro";
import ContactUs from "../components/sections/ContactUs.astro";

import Opportunities from "../components/sections/Opportunities.astro";
---

<Layout title="About">
  <div data-top>
    <SideTab text="About" href="#" style="department" classes="is-major" />
    <article data-wrapper>
      <!-- <ul class="list"></ul> -->
      <div class="content">
        <AboutSec />
        <SideTab
          text="Contact Us"
          style="subpage"
          shadow="none"
          classes="ContactUsTab"
        />
        <div class="ContactUsSec wrapper hidden">
          <ContactUs />
        </div>
        <SideTab
          text="Partnership"
          style="subpage"
          shadow="right"
          classes="PartnershipTab"
        />
        <div class="PartnershipSec wrapper hidden">
          <Funder />
        </div>
        <SideTab
          text="People"
          style="subpage"
          shadow="right"
          classes="PeopleTab"
        />
        <div class="PeopleSec wrapper hidden">
          <People />
        </div>
        <SideTab
          text="Opportunities"
          style="subpage"
          shadow="right"
          classes="OpportunitiesTab"
        />
        <div class="OpportunitiesSec wrapper hidden">
          <Opportunities />
        </div>
      </div>
    </article>
  </div>
</Layout>
<style type="scss">
  .about-sec {
    position: absolute;
    top: 0;
  }
  [data-top] {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    top: 45px;
    left: 0;

    [data-wrapper] {
      width: 100%;
      display: flex;
      flex-direction: column;

      .wrapper {
        width: 100%;
      }
    }
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      white-space: nowrap;
      position: relative;
      width: 100%;

      .list-item {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: 100%;
        box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: flex-end;
        padding: 40px;
        cursor: pointer;

        h1 {
          text-transform: capitalize;
        }
      }

      .ContactUs {
        background-color: var(--yellow);
      }

      .Partnership {
        background-color: var(--purple);
      }

      .People {
        background-color: var(--white);
      }

      .Opportunities {
        background-color: var(--peach);
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-grow: 1;

      .ContactUsTab {
        background-color: var(--yellow);
      }

      .PartnershipTab {
        background-color: var(--purple);
      }

      .PeopleTab {
        background-color: var(--white);
      }

      .OpportunitiesTab {
        background-color: var(--peach);
      }
    }

    .department,
    .subpage {
      flex-shrink: 0;
      position: sticky;
      top: 44px;
      cursor: pointer;
      z-index: 10;
    }
    .subpage a {
      // transition: visibility 0.4s linear;
      // display: none;
    }

    .is-shown {
      visibility: visible;
      animation: fadeIn 0.4s linear forwards;
    }

    .is-hidden
    {
      animation: fadeOut 0.1s linear forwards;
    }
  }

  .hidden {
    display: none !important;
    visibility:hidden;
  }
</style>

<script async>
// const tabs = document.querySelector("ul");
const sections = document.querySelectorAll("main .title h1");
let sectionNames = [];
let aboutTab = document.querySelector(".department");

sections.forEach((section) => {
  let sectionName = section.textContent;
  sectionTab = sectionName.replaceAll(" ", "");
  sectionNames.push(sectionName);
});

// sectionNames.forEach((sectionName) => {
//   tabs.innerHTML += `
//   <li class="list-item ${sectionName.replaceAll(" ", "")}">
//     <h1 class="no-break">${sectionName}</h1>
//   </li>
//   `;
// });

// let sectionTabs = document.querySelectorAll("li");
let aboutSections = document.querySelectorAll(".content .wrapper");
let subTabs = document.querySelectorAll(".subpage");
// sectionTabs.forEach((sectionTab) => {
//   let sectionClass = sectionTab.className.split(" ")[1];
//   sectionTab.addEventListener("click", function () {
//     window.scroll(0, 0);
//     aboutSections.forEach((aboutSection) => {
//       aboutSection.classList.add("hidden");
//     });
//     subTabs.forEach((subTab) => {
//       subTab.style.display = "flex";
//     });
//     document
//       .querySelector(`.${sectionClass}Tab`)
//       .querySelector("a").style.visibility = "hidden";
//     document.querySelector("ul").classList.add("hidden");
//     document.querySelector(".about-sec").style.display = "none";
//     document.querySelector(".content").classList.remove("hidden");
//     document.querySelector(`.${sectionClass}Sec`).classList.remove("hidden");

//     document
//       .querySelector(".ContactUsTab")
//       .addEventListener("click", showContact);

//     document
//       .querySelector(".PartnershipTab")
//       .addEventListener("click", showPartnership);

//     document
//       .querySelector(".PeopleTab")
//       .addEventListener("click", showPeople);

//     document
//       .querySelector(".OpportunitiesTab")
//       .addEventListener("click", showOppo);
//   });
// });

function showPartnership() {
  aboutTab.classList.remove("is-major");
  document.querySelector(".about-sec").style.display = "none";
  subTabs.forEach((subTab) => {
    if (subTab.querySelector("a").classList.contains("is-hidden")) {
      subTab.querySelector("a").classList.remove("is-hidden");
      subTab.querySelector("a").classList.add("is-shown");
    }
  });
  document
    .querySelector(".PartnershipTab")
    .querySelector("a").classList.remove("is-shown");
  document
    .querySelector(".PartnershipTab")
    .querySelector("a").classList.add("is-hidden");

  aboutSections.forEach((aboutSection) => {
    aboutSection.classList.add("hidden");
    // aboutSection.style.animation =
    //   "slideOut 0.4s linear forwards";
  });
  document.querySelector(".PartnershipSec").classList.remove("hidden");
  document.querySelector(".PartnershipSec").style.animation =
    "slideIn 0.4s linear forwards";
  document
    .querySelector(".ContactUsTab")
    .addEventListener("click", showContact);

  document.querySelector(".PeopleTab").addEventListener("click", showPeople);

  document
    .querySelector(".OpportunitiesTab")
    .addEventListener("click", showOppo);
}

function showContact() {
  aboutTab.classList.remove("is-major");
  document.querySelector(".about-sec").style.display = "none";
  subTabs.forEach((subTab) => {
    if (subTab.querySelector("a").classList.contains("is-hidden")) {
      subTab.querySelector("a").classList.remove("is-hidden");
      subTab.querySelector("a").classList.add("is-shown");
    }
  });
  document
    .querySelector(".ContactUsTab")
    .querySelector("a").classList.remove("is-shown");
  document
    .querySelector(".ContactUsTab")
    .querySelector("a").classList.add("is-hidden");


  aboutSections.forEach((aboutSection) => {
    aboutSection.classList.add("hidden");
  });
  document.querySelector(".ContactUsSec").classList.remove("hidden");
  document.querySelector(".ContactUsSec").style.animation =
    "slideIn 0.4s linear forwards";

  document
    .querySelector(".PartnershipTab")
    .addEventListener("click", showPartnership);

  document.querySelector(".PeopleTab").addEventListener("click", showPeople);

  document
    .querySelector(".OpportunitiesTab")
    .addEventListener("click", showOppo);
}

function showPeople() {
  aboutTab.classList.remove("is-major");
  document.querySelector(".about-sec").style.display = "none";
  subTabs.forEach((subTab) => {
    if (subTab.querySelector("a").classList.contains("is-hidden")) {
      subTab.querySelector("a").classList.remove("is-hidden");
      subTab.querySelector("a").classList.add("is-shown");
    }
  });
  document.querySelector(".PeopleTab").querySelector("a").classList.remove("is-shown");
  document.querySelector(".PeopleTab").querySelector("a").classList.add("is-hidden");
  aboutSections.forEach((aboutSection) => {
    aboutSection.classList.add("hidden");
  });
  document.querySelector(".PeopleSec").classList.remove("hidden");
  document.querySelector(".PeopleSec").style.animation =
    "slideIn 0.4s linear forwards";

  document
    .querySelector(".ContactUsTab")
    .addEventListener("click", showContact);

  document
    .querySelector(".PartnershipTab")
    .addEventListener("click", showPartnership);

  document
    .querySelector(".OpportunitiesTab")
    .addEventListener("click", showOppo);
}

function showOppo() {
  aboutTab.classList.remove("is-major");
  document.querySelector(".about-sec").style.display = "none";
  subTabs.forEach((subTab) => {
    if (subTab.querySelector("a").classList.contains("is-hidden")) {
      subTab.querySelector("a").classList.remove("is-hidden");
      subTab.querySelector("a").classList.add("is-shown");
    }
  });
  document
    .querySelector(".OpportunitiesTab")
    .querySelector("a").classList.remove("is-shown");
  document
    .querySelector(".OpportunitiesTab")
    .querySelector("a").classList.add("is-hidden");
  aboutSections.forEach((aboutSection) => {
    aboutSection.classList.add("hidden");
  });
  document.querySelector(".OpportunitiesSec").classList.remove("hidden");
  document.querySelector(".OpportunitiesSec").style.animation =
    "slideIn 0.4s linear forwards";

  document
    .querySelector(".ContactUsTab")
    .addEventListener("click", showContact);

  document
    .querySelector(".PartnershipTab")
    .addEventListener("click", showPartnership);

  document.querySelector(".PeopleTab").addEventListener("click", showPeople);
}

function backToAbout() {
  window.scrollTo(0, 0);
  aboutTab.classList.add("is-major");
  subTabs.forEach((subTab) => {
    if (subTab.querySelector("a").classList.contains("is-hidden")) {
      subTab.querySelector("a").classList.remove("is-hidden");
      subTab.querySelector("a").classList.add("is-shown");
    }
  });
  aboutSections.forEach((aboutSection) => {
    aboutSection.classList.add("hidden");
  })
  // document.querySelector(".content").classList.add("hidden");
  // document.querySelector("ul").classList.remove("hidden");
  document.querySelector(".about-sec").style.display = "flex";
}

// event-listeners
document
  .querySelector(".ContactUsTab")
  .addEventListener("click", showContact);

document
  .querySelector(".PartnershipTab")
  .addEventListener("click", showPartnership);

document.querySelector(".PeopleTab").addEventListener("click", showPeople);

document
  .querySelector(".OpportunitiesTab")
  .addEventListener("click", showOppo);


aboutTab.addEventListener("click", function () {
  backToAbout();
});
</script>
