---
import Layout from "../layouts/Layout.astro";
import SideTab from "../components/SideTab.astro";
import MediaSec from "../components/sections/MediaSec.astro";
import ArtistSec from "../components/sections/ArtistSec.astro";
---

<Layout title="Archive">
  <div data-top>
    <SideTab
      text="Archive"
      href="/archive"
      style="department"
      classes="is-major"
    />
    <SideTab
      text="Media Library"
      style="subpage"
      shadow="none"
      backGround="var(--gray)"
      classes="left-tab"
    />
    <article class="wrapper">
      <div class="left-col">
        <MediaSec />
      </div>
      <div class="right-col">
        <ArtistSec />
      </div>
    </article>
    <SideTab
      text="Artist Directory"
      style="subpage"
      shadow="right"
      backGround="var(--white)"
      classes="right-tab"
    />
  </div>
</Layout>

<style type="scss" is:global>
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--gray);
  }

  [data-top] {
    position: relative;
    display: flex;
    flex-grow: 1;

    .department,
    .subpage {
      flex-shrink: 0;
      position: sticky;
      top: 44px;
      cursor: pointer;
    }
    .subpage {
      visibility: hidden;
    }
    .is-shown {
      visibility: visible;
      animation: fadeIn 0.4s linear forwards;
    }

    .wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      min-height: fit-content;

      .left-col,
      .right-col {
        flex: 1;
        width: 100%;
        display: flex;
      }

      .right-col {
        position: absolute;
        top: 0;
        left: 70%;
        height: fit-content;
        box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.1);
        z-index: 9;
      }
    }
    .artist-directory {
      flex-grow: 1;
      overflow: auto;
    }

    .hidden {
      height: 100vh;
    }
  }
</style>

<script async>
const leftTab = document.querySelector(".left-tab");
const rightTab = document.querySelector(".right-tab");
const wrapper = document.querySelector(".wrapper");
const leftCol = document.querySelector(".left-col");
const rightCol = document.querySelector(".right-col");
const department = document.querySelector(".department");

function updateWrapperHeight() {
  const maxHeight = Math.max(leftCol.offsetHeight, rightCol.offsetHeight);
  wrapper.style.height = `${maxHeight}px`;
}

function handleAnimationEnd(displayElement, hideElement) {
  return () => {
    // hideElement.style.display = "none";
    // displayElement.style.display = "flex";
    hideElement.classList.add("hidden");
    displayElement.classList.remove("hidden");
    updateWrapperHeight();
  };
}

function showLeft() {
  document.querySelector("body").style.backgroundColor = "var(--gray)";
  window.scroll(0, 0);
  // leftCol.querySelector(".media-library").style.display = "flex";
  leftCol.querySelector(".media-library").classList.remove("hidden");
  rightCol.style.animation = "slideOut 0.4s linear forwards";
  rightTab.classList.add("is-shown");
  leftTab.classList.remove("is-shown");
  department.classList.remove("is-major");
  window.history.pushState({}, "", "#media-library");

  rightCol.addEventListener(
    "animationend",
    handleAnimationEnd(
      leftCol.querySelector(".media-library"),
      rightCol.querySelector(".artist-directory")
    ),
    { once: true }
  );
  rightTab.style.zIndex = 10;
  rightTab.addEventListener("click", showRight);
}

function showRight() {
  window.removeEventListener("scroll", showLeft);
  document.querySelector("body").style.backgroundColor = "var(--gray)";
  // rightCol.querySelector(".artist-directory").style.display = "flex";
  rightCol.querySelector(".artist-directory").classList.remove("hidden");
  rightCol.style.animation = "slideIn 0.4s linear forwards";
  leftTab.classList.add("is-shown");
  rightTab.classList.remove("is-shown");
  department.classList.remove("is-major");
  window.history.pushState({}, "", "#artist-directory");

  rightCol.addEventListener(
    "animationend",
    handleAnimationEnd(
      rightCol.querySelector(".artist-directory"),
      leftCol.querySelector(".media-library"),
      (document.querySelector("body").style.backgroundColor = "var(--white)")
    ),
    { once: true }
  );

  leftTab.addEventListener("click", showLeft);
}
//back function WIP!!!
department.querySelector("a").addEventListener("click", function (e) {
  e.preventDefault();
});

function backToArchive() {
  document.querySelector("body").style.backgroundColor = "var(--gray)";
  window.removeEventListener("scroll", showLeft);
  window.scroll(0, 0);

  rightCol.style.animation = "slideHalf 0.4s linear forwards";

  leftCol.querySelector(".media-library").classList.remove("hidden");
  rightCol.querySelector(".artist-directory").classList.remove("hidden");
  updateWrapperHeight();

  leftTab.classList.remove("is-shown");
  rightTab.classList.remove("is-shown");
  department.classList.add("is-major");

  setTimeout(() => {
    window.addEventListener("scroll", showLeft);
  }, "1200");

  window.history.pushState({}, "", "/archive");
}

// Event listeners
leftCol.addEventListener("click", showLeft);
rightCol.addEventListener("click", showRight);
window.addEventListener("scroll", showLeft);
department.addEventListener("click", backToArchive);

// Check the URL hash when the page loads
window.addEventListener("load", () => {
  if (window.location.hash === "#media-library") {
    showLeft();
  } else if (window.location.hash === "#artist-directory") {
    showRight();
  }
});
</script>
