---
import ArtistLayout from "../layouts/ArtistLayout.astro";
import CTADefault from "../components/CTA-Button.astro";
---

<ArtistLayout title="Vitche-Boul Ra">
  <div class="front-caption">
    <CTADefault
      ctas={[
        {
          text: "Facebook",
          href: "/tickets",
        },
        {
          text: "Instagram",
          href: "https://www.eventbrite.com/",
        },
        {
          text: "Artist Website",
          href: "/press.pdf",
        },
      ]}
    />
  </div>
  <section class="body-copy">
    <p>
      Vitche-Boul Ra is a Transhumanist Folk-Theurgist with a BFA in
      Interdisciplinary Fine Arts (Sculpture concentration) from The University
      of the Arts [2018]. To develop a performance practice adjacent to the
      lineage of western sculpture, It also studied dance in the UArts School of
      Dance directed by Donna Faye Burchfield. Winning the Edna Andrade Travel
      Scholarship from The University of the Arts in 2017, Ra traveled to Bali,
      Indonesia to observe/study the movement practices and theatrical
      vocabularies of Balinese Dance—further re-imagining the priorities of It's
      practice. In Philadelphia, It has shown solo (+collaborative) works at The
      Philadelphia Museum of Art, Vox Populi Gallery, Little Berlin Gallery, and
      Hightide Gallery. In New York, Ra performed in Fridman Gallery’s 5th
      Anniversary Festival, had work selected for the Center for Performance
      Research’s Spring Movement Festival 2018, and was curated into the New
      Dance Alliance's 2019 Performance Mix Festival: 33
    </p>
  </section>
</ArtistLayout>
