---
import Layout from "../layouts/Layout.astro";
import CTAOutstanding from "../components/CTA-Outstanding.astro";
import ProgramCard from "../components/ProgramCard.astro";

---

<Layout title="Homepage">
  <main>
    <section>
      <h1>Programs: On Now</h1>

      <div class="program-carousel">
        <div class="card-wrapper">
          <ProgramCard />
        </div>
        <div class="card-wrapper">
          <ProgramCard />
        </div>
        <div class="card-wrapper">
          <ProgramCard />
        </div>
      </div>
    </section>
    <section>
      <h2 id="blurb">
        asian arts initiative is a multidisciplinary arts center offering
        exhibitions, performances, artist residencies, youth workshops, and a
        community gathering space.
      </h2>
    </section>
    <section>
      <h2>About Us</h2>
    </section>
    <section>
      <h2>Education</h2>
    </section>
    <section>
      <h2>Media Library</h2>
    </section>
    <section>
      <h2>Tickets</h2>
    </section>
  </main>

  <style type="scss">
    .program-carousel {
      display: flex;
      width: 100vw;
      overflow: scroll;
      scroll-behavior: smooth;
      padding-bottom: 2.5rem;

      .card-wrapper {
        width: fit-content;
        min-width: 100vw;
        display: flex;
        justify-content: center;
      }
    }
    #blurb {
      padding: 2.5rem;
      background-color: var(--orange);
    }
  </style>
</Layout>

<script>
  const carousel = document.querySelector(".program-carousel") as HTMLElement;
  let currentPos = 0;

  function scrollCarousel() {
    currentPos += window.innerWidth;

    if (currentPos > carousel.scrollWidth - window.innerWidth) {
      currentPos = 0;
    }

    carousel.scrollTo(currentPos, 0);
  }
  setInterval(scrollCarousel, 2000);
</script>
