---
import SideTab from "../components/SideTab.astro";
import Layout from "../layouts/Layout.astro";
import { getTickets } from "../data/api";
import TicketCard from "../components/TicketCard.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
const tickets = await getTickets();

// console.log(tickets[0]);
---

<Layout title="Ticket">
  <div data-top>
    <SideTab
      text="Tickets"
      href="/tickets"
      style="department"
      classes="is-major"
    />

    <SectionLayout
    backGround="var(--black)"
    textColor="var(--white)"
    className = "tickets"
    >
      <!-- <h2 class="title">Ticketed Events</h2> -->

      <ul class="ticket-list">
        {
          tickets.map((ticket) => (
            <li class="card-wrapper">
              <TicketCard ticket={ticket} />
            </li>
          ))
        }
      </ul>
    </SectionLayout>
  </div>
</Layout>

<style lang="scss">
  body {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  [data-top] {
    position: relative;
    display: flex;
    flex-grow: 1;

    .department {
      flex-shrink: 0;
      position: sticky;
      top: 44px;
      cursor: pointer;
    }

    .ticket-list {
      width: 100%;
      margin: var(--l-margin) 0;
      display: flex;
      flex-direction: column;
      .card-wrapper {
        border-bottom: 1px solid white;
      }
      .card-wrapper:first-child {
        border-top: 1px solid white;      
      }
    }
  }


</style>
