---
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import SideTab from "../components/SideTab.astro";
import RentalSec from "../components/sections/RentalSec.astro";
---

<Layout title="Venue">
  <div data-top>
    <SideTab text="Venue" href="#" style="department" classes="is-major" />
    <article data-wrapper>
      <SectionLayout backGround="black" textColor="white" className="venue">
        <p class="body-copy">
          Located in Philadelphia’s burgeoning Chinatown North neighborhood,
          Asian Arts Initiative is a multidisciplinary arts center where all
          people — across experience and skill levels, age, race, and class
          backgrounds — can view and create art that reflects our lives, as well
          as think critically and creatively about the future we want to build
          for our communities.
          <br />
          <br />
           Our multi-tenant arts facility, built in 1906, first served as a film
          screening and storage house for Duquesne Amusement & Supply Co (owned
          by the three eldest of the Warner Brothers), before later being
          converted into a medical supply depot for the Great Influenza epidemic
          of 1918-20. With a storied history throughout the 20th Century, today
          it serves as a resource for the broader cultural community, with
          individual artist studios as well as organizational and program space
          — including room for workshops and meetings; gallery and exhibition
          areas; and a black-box-style theater. Our building community is
          comprised of long-term and short-term tenants: mission-aligned service
          and arts organizations, artists, community groups, and more.
        </p>
      </SectionLayout>
      <SideTab
        text="Rental"
        style="subpage"
        shadow="right"
        classes="current-tab"
      />
      <div class="rentalSec hidden">
        <RentalSec />
      </div>
    </article>
  </div>
</Layout>
<style type="scss">
  [data-top] {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    top: 45px;
    left: 0;

    [data-wrapper] {
      width: 100%;
      display: flex;
      flex-direction: row;

      .body-copy {
        max-width: var(--inner-max-width);
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        white-space: nowrap;
        position: relative;
        width: 100%;

        .list-item {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          width: 100%;
          box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: flex-end;
          padding: 40px;
        }
      }

      .hidden {
        display: none;
      }

      .department,
    .subpage {
      flex-shrink: 0;
      position: sticky;
      top: 44px;
      cursor: pointer;
      z-index: 10;
    }
    .subpage a {
      // transition: visibility 0.4s linear;
      // display: none;
    }

    .is-shown {
      visibility: visible;
      animation: fadeIn 0.4s linear forwards;
    }

    .is-hidden
    {
      animation: fadeOut 0.1s linear forwards;
    }
    }
  }

  main.venue {
    padding-right: 0 !important;
  }
</style>

<script async>
const venueTab = document.querySelector(".department");
const venueSec = document.querySelector(".rentalSec");
const subTab = document.querySelector(".subpage");

function showRental() {
  venueTab.classList.remove("is-major");
  document.querySelector(".venue").style.display = "none";
  subTab.querySelector("a").classList.remove("is-shown");
  subTab.querySelector("a").classList.add("is-hidden");

  venueSec.classList.remove("hidden");
  venueSec.style.animation =
    "slideIn 0.4s linear forwards";
}

function backToVenue() {
  window.scrollTo(0, 0);
  venueTab.classList.add("is-major");
  if (subTab.querySelector("a").classList.contains("is-hidden")) {
    subTab.querySelector("a").classList.remove("is-hidden");
    subTab.querySelector("a").classList.add("is-shown");
  }
  venueSec.classList.add("hidden");
  // document.querySelector(".content").classList.add("hidden");
  // document.querySelector("ul").classList.remove("hidden");
  document.querySelector(".venue").style.display = "flex";
}

subTab.addEventListener("click", showRental)
venueTab.addEventListener("click", backToVenue)
</script>
