---
interface Props {
  text: string;
  action: boolean;
  linkText?: string;
  linkHref?: string;
  };


const { text, action = false, linkText, linkHref } = Astro.props as Props;
---

<div class="CTA-outstanding">
  {
    action === true && (
        <h2>{text}</h2>
        <a class="CTA-link" href={linkHref}>
          <h2>{linkText}</h2>
        </a>
    )
  }

  {action === false && <h2>{text}</h2>}
</div>

<style type="scss">
  .CTA-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    gap: 80px;
    margin: 0 auto;
    padding: 0;

    @media screen and (max-width: 1024px) {
      gap: 32px;
      padding: 0 32px;
    }
    @media screen and (max-width: 768px) {
      gap: 24px;
      padding: 0 24px;
    }
    @media screen and (max-width: 390px) {
      display: block;
      width: calc(100% - 32px);
      gap: 0;
      padding: 0;
      margin: 16px;
    }
  }
  .CTA-outstanding:hover {
    background-color: var(--orange);
    border-top: 2px solid var(--orange);
  }
  .CTA-outstanding {
    transition: all 600ms;

    margin: 40px;
    border-top: 2px solid var(--black, #000);
    padding: 0 40px;
    display: flex;
    width: 50%;
    max-width: 800px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;

    flex-shrink: 0;

    @media screen and (max-width: 1024px) {
      padding: 0 32px;
      max-width: 448px;
      height: 300px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 24px;
      max-width: 332px;
      height: 225px;
    }
    @media screen and (max-width: 390px) {
      padding: 0 16px;
      height: 200px;
    }

    .CTA-link {
      display: inline;
      margin-top: -1em;

      h2 {
        display: inline;
      }
    }

    .CTA-link>h2::after {
      content: url(/arrow-black-20.svg);
      vertical-align: super;
      padding-left: .1em;
      
    }
    @media screen and (max-width: 1440px) {
      .CTA-link>h2::after {
        content: url(/arrow-black-14.svg);
      }
    }
    @media screen and (max-width: 768px) {
      .CTA-link>h2::after {
        content: url(/arrow-black-10.svg);
      }
    }
  }
</style>
