---
interface CTA {
  text: string;
  href: string;
}

const { ctas = [] } = Astro.props;
---

<div class="CTA-wrapper">
  {
    ctas.map((cta: CTA) => (
      <a href={cta.href} class="CTA-default">
        {cta.text}
      </a>
    ))
  }
</div>

<style type="scss">
  .CTA-default {
    display: inline-flex;
    padding: 12px 24px;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid var(--black, #000);
    // border-bottom: 1px solid var(--black, #000);

    background-color: var(--white, #fff);

    margin: -1px 0 0 -1px;

    @media screen and (max-width: 1024px) {
      max-width: 320px;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
      // max-width: 240px;
    }
    @media screen and (max-width: 390px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .CTA-wrapper {
    gap: -1px;

    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 390px) {
      display: block;
    }
  }
</style>
