---
const { title } = Astro.props;
---
<div class="front-caption">
    <ul class="caption">
      <li>{title}</li>
      <li>Exhibition, Explicit, Arts in Philadelphia, Social Practice</li>
    </ul>
    <ul class="caption">
      <li>Dates</li>
      <li>April 14–May 30, 2023</li>
    </ul>
    <ul class="caption">
      <li>Curator</li>
      <li>Aubrié Costello</li>
    </ul>
    <ul class="caption">
      <li>Artists</li>
      <li>Aura Rosenberg</li>
      <li>Jaishri Abichandani</li>
      <li>Lanica Angpak</li>
      <li>Elia Alba</li>
      <li>Mequitta Ahuja</li>
      <li>Elia Alba</li>
      <li>Aura Rosenberg</li>
    </ul>
  </div>