---
interface FrontCaption {
  _type: string;
  displayTitle: string;
  value: string;
}

const { frontCaptions = [] } = Astro.props;
---

<div class="front-caption">
  {
    frontCaptions.map((frontCaption: FrontCaption) => (
      <ul class="caption">
        <li>{frontCaption.displayTitle}</li>
        <li>{frontCaption.value}</li>
      </ul>
    ))
  }
</div>

<style type="scss">
  .front-caption {
    margin: 6.25rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 20px;

    width: 100%;
    max-width: 800px;

    @media screen and (max-width: 64rem) {
      max-width: 40rem;
    }
    @media screen and (max-width: 48rem) {
      max-width: 30rem;
    }

    @media screen and (max-width: 35.5rem) {
      background-color: red;
      width: calc(100% - 4.4rem);
    }
    @media screen and (max-width: 24.375rem) {
      width: calc(100% - 32px);
      margin: 0 16px;
    }

    // .caption > li:first-child {
    //   color: var(--darkGray);
    //   display: flex;
    //   flex-direction: column;
    //   gap: 8px;
    // }
  }
</style>
