---
import CTAButton from "./CTA-Button.astro";
---
<div class="program-card">

    <img src="src/assets/img/video.png" alt="">
    <p class="small-caption">
        Event, Screening
    </p>
    <h4>
        The Erotic Project: Short Film Screening
    </h4>
    <p>
        April 14
    </p>
<CTAButton  ctas={[
    {
      text: "See All Programs",
      href: "/programs",
    }
  ]}/>
</div>

<style type="scss">
    .program-card {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            width: 800px;
        }
    }
</style>