---
interface SecHeader {
    title: string;
    color?: string;
}

const { title,color } = Astro.props;
---

<div class="section-header">
    <div class="caption">{title}</p>
</div>

<style lang="scss" is:global define:vars={{ color }}>
    .section-header {
        width: 100%;
        border-top: 1px solid var(--color, #000);
        color: var(--color, #000);
    }
</style>
