---
interface SecHeader {
    title: string;
    color?: string;
}

const { title,color } = Astro.props;
---

<section>
    <p data-sec-title>{title}</p>
</section>

<style lang="scss" is:global define:vars={{ color }}>
    section {
        width: 100%;
        padding: 40px 0;
        [data-sec-title] {
            border-top: 1px solid var(--color, #000);
            color: var(--color, #000);
        }
    }
</style>
