---
interface Props {
  text: string;
  href?: string;
  style: "department" | "subpage";
  classes?: string;
  shadow?: "left" | "right";
}

const { text, href, style, classes, shadow } = Astro.props as Props;
---

<div class:list={["side-tab", classes, style, shadow]}>
  <a href={href}>
    <h6 class="vert-text">{text}</h6>
  </a>
</div>

<style type="scss">
  /* 1920 side tab */
  .side-tab {
    position: sticky;
    top: 0;
    // left: 0;
    height: 100vh;
    width: 4rem;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 64rem) {
      padding: 2rem 0;
      width: 3rem;
    }

    @media screen and (max-width: 48rem) {
      padding: 1rem 0;
      width: 2.4rem;
    }
    .vert-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin-left: -.2em;
    }
  }

  .department {
    background: var(--black);
    color: var(--white);
  }

  .subpage {
    color: var(--black, #000);
    /* right-inner-shadow */
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
  }

  .left {
    box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, 0.1) ;
  }
  .right {
    box-shadow: inset 8px 0px 8px 0px rgba(0, 0, 0, 0.1) ;
  }
</style>
