---
import "../scss/main.scss";
interface Props {
  text: string;
  href?: string;
  style: "department" | "subpage";
  classes?: string;
  shadow?: "left" | "right" | "topleft" | "bottomleft" | "none";
  backGround?: string;
  textColor?: string;
}

const { text, href, style, classes, shadow, backGround, textColor } =
  Astro.props as Props;
---

<a href={href}>
  <div class:list={["side-tab", classes, style, shadow]}>
    <h6 class="vert-text">{text}</h6>
  </div>
</a>

<style lang="scss" define:vars={{ backGround, textColor }}>
  /* 1920 side tab */
  .side-tab {
    --side-tab-width: 4rem;
    --side-tab-padding: 2.5rem;

    position: sticky;
    top: 44px;
    height: 100vh;
    width: var(--side-tab-width);
    padding: var(--side-tab-padding) 0;
    display: flex;
    justify-content: center;
    background-color: var(--backGround);
    color: var(--textColor);
    line-height: 1;
    z-index: 9;

    @media screen and (max-width: 64rem) {
      padding: 1rem 0;
      --side-tab-width: 3rem;
      --side-tab-padding: 2rem;
    }

    @media screen and (max-width: 48rem) {
      padding: 1rem 0;
      --side-tab-width: 2.4rem;
      --side-tab-padding: 1rem;
    }
    .vert-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      word-break: keep-all;
      height: max-content;
    }
  }

  .department {
    background: var(--black);
    color: var(--white);
    transition: width 100ms;
  }
  .is-major {
    --side-tab-major-width: 8rem;
    --side-tab-major-fsize: 110px;
    width: var(--side-tab-major-width);
    .vert-text {
      font-size: var(--side-tab-major-fsize);
    }

    @media screen and (max-width: 64rem) {
      padding: 2rem 0;
      --side-tab-major-width: 6rem;
      --side-tab-major-fsize: 60px;
    }

    @media screen and (max-width: 48rem) {
      padding: 1rem 0;
      --side-tab-major-width: 4.8rem;
      --side-tab-major-fsize: 32px;
    }
  }

  @keyframes major {
    to {
      width: var(--side-tab-width);
    }
  }
  .subpage {
    // color: var(--black, #000);
  }

  .left {
    box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
  .none {
    box-shadow: none;
  }
  .right {
    box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
  .topleft {
    box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset,
      2px 0px 4px 0px rgba(0, 0, 0, 0.06) inset;
  }
  .bottomleft {
    box-shadow:
      0px -4px 4px 0px rgba(0, 0, 0, 0.1) inset,
      2px 0px 4px 0px rgba(0, 0, 0, 0.06) inset;
  }
</style>
