---
import "../scss/main.scss";
import Meta from "../components/Meta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import {getSiteSettings} from "../data/api";

const settings = await getSiteSettings();

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<Fragment lang="en">
  <Meta title={title} settings={settings} />

  <body>
    <Header />
    <slot />
    <style lang="scss" is:global>
      html {
        font-family: system-ui, sans-serif;
        background: var(--white);
        background-size: 224px;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
    <Footer />
  </body>
</Fragment>
