---
import "../scss/main.scss";
import Meta from "../partials/Meta.astro";
import Header from "../partials/Header.astro";
import Footer from "../components/Footer.astro";
import CTADefault from "../components/CTA-Button.astro";

interface Props {
  title: string;
  bannerSrc: string;
}

const { title } = Astro.props;
const { bannerSrc } = Astro.props;
---

<!DOCTYPE html>
<Fragment lang="en">
  <Meta title={title} />

  <body>
    <Header />
    <h1 class="title">{title}</h1>
    <div class="banner">
      <img src={bannerSrc} alt="Banner image" />

      <CTADefault
        ctas={[
          {
            text: "Get tickets",
            href: "/tickets",
          },
          {
            text: "RSVP",
            href: "https://www.eventbrite.com/",
          },
          {
            text: "Download press kit",
            href: "/press.pdf",
          },
        ]}
      />
    </div>
    <div class="front-caption">
      <ul class="caption">
        <li>{title}</li>
        <li>Exhibition, Explicit, Arts in Philadelphia, Social Practice</li>
      </ul>
      <ul class="caption">
        <li>Dates</li>
        <li>April 14–May 30, 2023</li>
      </ul>
      <ul class="caption">
        <li>Curator</li>
        <li>Aubrié Costello</li>
      </ul>
      <ul class="caption">
        <li>Artists</li>
        <li>Aura Rosenberg</li>
        <li>Jaishri Abichandani</li>
        <li>Lanica Angpak</li>
        <li>Elia Alba</li>
        <li>Mequitta Ahuja</li>
        <li>Elia Alba</li>
        <li>Aura Rosenberg</li>
      </ul>
    </div>
    <slot />
    <Footer />
  </body>
</Fragment>

<style lang="scss" is:global>
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
    background-size: 224px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .banner,
  main,
  .front-caption {
    width: 100%;
    max-width: 800px;

    @media screen and (max-width: 1024px) {
      max-width: 640px;
    }
    @media screen and (max-width: 768px) {
      max-width: 480px;
    }
    @media screen and (max-width: 390px) {
      width: calc(100% - 32px);
      margin: 0 16px;
    }

    display: flex;
    flex-direction: column;
  }
 .title {
    margin: 40px;
    @media screen and (max-width: 1024px) {
      margin: 32px;
    }
    @media screen and (max-width: 768px) {
      margin: 24px;
    }
    @media screen and (max-width: 390px) {
      margin: 16px;
    }
  }

  .banner {
    margin: 6.25rem auto;
    gap: 1.25rem;

    @media screen and (max-width: 390px) {
      margin: 2.5rem auto;
    }
  }

  .front-caption {
    margin: 6.25rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 20px;

    ul > li:first-child {
      color: var(--darkGray);
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  main {
    margin: 6.25rem auto;
    display: flex;
    flex-direction: column;
    gap: 2em 0;
  }
</style>
