---
import Layout from "../../layouts/Layout.astro";
import SideTab from "../../components/SideTab.astro";
import { getEducations } from "../../data/api";
import type { Education } from "../../data/types";

const educations = await getEducations();
---

<Layout title="Education">
  <div data-top>
    <article data-wrapper>
      <SideTab text="Education" href="#" style="department" />
      <main data-main>
        <ul class="list">
          {
            educations.map((education: Education) => (
              <li class="list-item">
                <a data-panel href={`/education/${education.slug.current}`}>
                  <h1 class="no-break">{education.title}</h1>
                </a>
              </li>
            ))
          }
        </ul>
      </main>
    </article>
  </div>
</Layout>

<style type="scss">
  [data-wrapper] {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    position: sticky;
    top: 45px;
    left: 0;

    [data-main] {
      width: calc(100vw - 4rem);
      height: fit-content;

      position: relative;

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        white-space: nowrap;
        position: relative;
        width: 100%;

        .list-item {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          width: 100%;
          box-shadow: -10px 0px 14px 0px rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: flex-end;
          padding: 40px;
        }
      }
    }
  }
  // [data-panel] {
  //   transform: rotate(90deg);
  //   display: block;
  // }
</style>

<script async></script>
